
  <div class="row">
    <div id="currentlogged" class="col-xs-12 col-sm-8 col-md-8 ">
      <div class="well well-sm">
        <span>Logged as {{loggedAsUser}}</span>
         <span class="pull-right">{{datetime}}</span>
     </div>
    </div>
    <div id="currentsite" class="col-xs-12 col-sm-4 col-md-4" >
      <div class=" btn-group btn-block">
        <button id="choosesite-btn" type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" >
          Site : {{currentsite}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="site in sites"><a ng-click="clicksite(site);">{{site.SiteName}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="message">{{message}}</div>

  <div class="row" ng-show="sitedata">
      <div id="birdseye" class="col-xs-12 col-sm-6 col-md-6 text-center" >
        <img id="birdseye-img" src="siteimages/{{sitedata.SiteMapUrl}}" alt="Bird's eye view" class="img-rounded sitemapimg" >
      </div>

      <div id="procedures" class="col-xs-12 col-sm-6 col-md-6  hidden-xs">
        <div class="well well-sm" id="procedure-well">{{sitedata.SiteProtocolText}}</div>
      </div>  
      <div id="procedures-lg" class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <div class="well well-sm" id="procedure-well">{{sitedata.SiteProtocolText}}</div>
      </div>  
  </div>

<div id="entry" class="row">
  <div class="col-xs-12" ng-hide="entrymode">
    <button type="button" class="btn btn-primary btn-block" ng-click="addEntry()">New Entry</button>
  </div>
  <div class="col-xs-12 "ng-show="entrymode">

    <div class="btn-group-vertical pull-left" >
      
        <button type="button" class="btn btn-info btn-sm," ng-click="resetEntry()">Reset</button>
        <button type="button" class="btn btn-primary btn-sm," ng-click="cancelEntry()">Cancel</button>
        <button type="button" class="btn btn-success btn-lg" ng-click="acceptEntry()">Accept</button>

       
    </div>

   <div id="entrydesc" class="pull-left"><textarea name="theentry" id="theentry" rows="5" cols="58"></textarea></div>
      <div id="entryaction" class="pull-left"><textarea name="theaction" id="theaction" rows="5" cols="35"></textarea></div>
      <div id="entrylic" class="pull-left"><input type="text" name="thelicense" id="thelicense"> </div>
      <div id="entrycam" class="pull-left"><select id="thecamera" name="thecamera">
        <option value="1">Choose Camera</option>
      </select></div>


  </div>



<div class="table-responsive" ng-show="sitedata">
  <form name='tablechecksform' id='tablechecksform'>
  <table class="table table-striped table-hover table-condensed">
  	<thead>
      <th ng-show="isadmin"> </th>
  		<th>Description</th>
  		<th>Action Taken</th>
  		<th>Licence</th>
      <th>Started</th>
      <th>Entered</th>
      <th>Camera</th>
	  </thead>
    <tbody>
    	<tr ng-repeat="event in tablepast | filter:EventStart">
      <td ng-show="isadmin"><input type="radio" name='checkselect' value='{{event.EventIndex}}'></td>
    	<td>{{event.Desc}}</td>
      <td>{{event.Action}}</td>
      <td>{{event.EventLicense}}</td>
      <td>{{event.EventStart}}</td>
      <td>{{event.EventEntered}}</td>
      <td>{{event.CameraName}}</td>
    	</tr>
    </tbody>
  </table>
</div>

<div class="row" ng-show="sitedata">

  <div id="tablechecks" class="col-xs-5 col-sm-3 col-md-4">
    <ul class="pagination pagination-sm" ng-show="isadmin">
      <li><a>Edit</a></li>
      <li><a>Delete</a></li>
    </ul>
  </div>

  <div id="rowsperpage" class="col-xs-7 col-sm-3 col-md-3 col-sm-push-6 col-md-push-5">
    <ul class="pagination pagination-sm pull-right">
      <li ng-repeat="rpp in rowsperpagelist" ng-class="{active:rowsperpage==rpp}"><a ng-click="changerowsperpage(rpp);">{{rpp}}</a></li>
    </ul>
  </div>
  <div id="pagenav" class="col-xs-12 col-sm-6 col-md-5 col-sm-pull-3 col-md-pull-3 bottom-pager text-center">
   <ul class="pagination pagination-sm">
      <li><a ng-click="showpage('first');">&laquo;</a></li>
      <li><a ng-click="showpage('prev');">&lt;</a></li>
      <li><a ng-click="showpage('next');">&gt;</a></li>
      <li><a ng-click="showpage('last');">&raquo;</a></li>
      <li><input type="number" placeholder="#" class="input-sm" ng-model="thegoto"></li>
      <li><a ng-click="showpage('goto');">Goto</a></li>
      <li class="disabled"><a>page {{tablepastpage}} of {{tablelastpage}}</a></li>
    </ul>
  </div>
</div>
