

<div class="container">

  <div class="row">
    <div id="currentlogged" class="col-xs-12 col-sm-4 col-md-4 ">
      <div class="well well-sm"> Logged as {{loggedAsUser}} </div>
    </div>

    <div id="currentdate" class="col-xs-12 col-sm-4 col-md-4 " >
     <div class="well well-sm"> {{datetime}}</div>
    </div>

    <div id="currentsite" class="col-xs-12 col-sm-4 col-md-4" >


      
       <div class=" btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
            Site : {{currentsite}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li ng-repeat="site in sites"><a ng-click="clicksite(site);">{{site.SiteName}}</a></li>
          </ul>
        </div>


    </div>

  </div>

<div ng-show="message">{{message}}</div>

<div class="row">
  <div id="birdseye" class="col-xs-12 col-sm-6 col-md-6">img</div>
  <div id="procedures" class="col-xs-12 col-sm-6 col-md-6">proc</div>  
  </div>
</div>

  <table class="table table-striped table-bordered">
  	<thead>
  		<td>first</td>
  		<td>last</td>
  		<td>city</td>
	</thead>
<tbody>
	<tr ng-repeat="user in users | filter:term">
	<td>{{user.fname}}</td><td>{{user.lname}}</td><td>{{user.city}}</td>
	</tr>
</tbody>
  </table>
</div>
