

<div class="container">

  <div class="row">
    <div id="currentlogged" class="col-xs-12 col-sm-4 col-md-4 ">
      <div class="well well-sm"> Logged as {{loggedAsUser}} </div>
    </div>
    <div id="currentdate" class="col-xs-12 col-sm-4 col-md-4 " >
      <div class="well well-sm"> {{datetime}}</div>
    </div>
    <div id="currentsite" class="col-xs-12 col-sm-4 col-md-4" >
      <div class=" btn-group btn-block">
        <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" >
          Site : {{currentsite}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="site in sites"><a ng-click="clicksite(site);">{{site.SiteName}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="message">{{message}}</div>

  <div class="row" ng-show="sitedata">
    <div id="birdseye" class="col-xs-12 col-sm-6 col-md-6">img</div>
    <div id="procedures" class="col-xs-12 col-sm-6 col-md-6">{{sitedata.SiteProtocolText}}</div>  
  </div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
  	<thead>
  		<th>Description</th>
  		<th>Action Taken</th>
  		<th>Licence</th>
      <th>Started</th>
      <th>Entered</th>
      <th>Camera</th>
	  </thead>
    <tbody>
    	<tr ng-repeat="event in tablepast | filter:EventStart">
    	<td>{{event.Desc}}</td>
      <td>{{event.Action}}</td>
      <td>{{event.EventLicense}}</td>
      <td>{{event.EventStart}}</td>
      <td>{{event.EventEntered}}</td>
      <td>{{event.CameraName}}</td>
    	</tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div id="tablechecks" class="col-xs-4">
    <ul class="pagination pagination-sm">
      <li><a>Edit</a></li>
      <li><a>Delete</a></li>
    </ul>
  </div>
  <div id="pagenav" class="col-xs-8 bottom-pager ">
   <ul class="pagination pagination-sm">
          <li><a>&laquo;</a></li>
      <li><a>&lt;</a></li>
      <li><a>&gt;</a></li>
      <li><a>&raquo;</a></li>
      <li><input type="number" placeholder="Page" class="input-sm"></li>
      <li><a>Goto Page</a></li>
    </ul>
  </div>
</div>

</div>

