

<div class="container-fluid" ng-controller="mainCtrl">

<div class="navbar-header ">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sgip-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SGIP</a>
</div>


<div class="collapse navbar-collapse" id="sgip-collapse">


  <ul class="nav navbar-nav navbar-right">
  
    <li ng-Class="{active: isActive('/login'), disabled: isActive('/monitor')||isActive('/manage')}">
    <a ng-hide="isActive('/monitor')||isActive('/manage')">Login</a>
    <a ng-show="isActive('/monitor')||isActive('/manage')">Login</a>
    </li>
    <li ng-Class="{active: isActive('/monitor'), disabled: !isActive('/monitor')&&!isActive('/manage') }" >
    <a ng-hide="!isActive('/monitor')&&!isActive('/manage')" ng-href="./#/monitor" >Monitor</a>
    <a ng-show="!isActive('/monitor')&&!isActive('/manage')">Monitor</a>
    </li>
    <li ng-Class="{active: isActive('/manage'), disabled: !isActive('/monitor')&&!isActive('/manage')}">
    <a ng-hide=" !isActive('/monitor')&&!isActive('/manage')" ng-href="./#/manage" >Manage</a>
    <a ng-show=" !isActive('/monitor')&&!isActive('/manage')">Manage</a>
    </li>
    <li ng-Class="{disabled: !isActive('/monitor')&&!isActive('/manage')}" >
    <a ng-hide="!isActive('/monitor')&&!isActive('/manage')" ng-href="./#/logout" >Logout</a>
    <a ng-show="!isActive('/monitor')&&!isActive('/manage')" >Logout</a>
    </li>
    
  </ul>
</div>
  
  
 
</div>
