<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a>Login</a></li>
  </ul>
  <h3 class="text-muted">SGIP</h3>
</div>

<!-- SHOW ERROR/SUCCESS MESSAGES -->

<form name="signupPassword" novalidate  role="form" ng-submit="processPassword()">

  <div class="form-group" ng-class="{ 'has-error' : errorPassword }">
    <label for="InputPassword">Password {{ message }}</label>
    <input type="password" required 
        ng-minlength=5 
        ng-maxlength=20 
        class="form-control" 
        name="inputPassword" 
        placeholder="Password" 
        ng-model="formData.password" />
    

  </div>
  
  <button type="submit" ng-disabled="signupPassword.$invalid" class="btn btn-success btn-lg btn-block">
	<span class="glyphicon glyphicon-flash"></span> Log In
  </button>

 <div class="form-group" ng-class="{ 'has-error' : errorPassword }">
 <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>

 <span class="help-block span-inline" 
        ng-show="signupPassword.inputPassword.$dirty && signupPassword.inputPassword.$invalid">
    <span class="help-block span-inline" 
        ng-show="signupPassword.inputPassword.$error.required">
        User password is required.
    </span>
    <span class="help-block span-inline"
            ng-show="signupPassword.inputPassword.$error.minlength">
            Your password is required to be at least 3 characters
    </span>
    <span class="help-block span-inline"
            ng-show="signupPassword.inputPassword.$error.maxlength">
            Your password cannot be longer than 20 characters
    </span>
</span>
</div>


</form>

